<?xml version="1.0" ?>

<launch>
	
	<arg name="x_pos" default="0"/>
	<arg name="y_pos" default="0"/>

	<arg name="yaw_pos" default="0"/>

	<param command="$(find xacro)/xacro $(find cepheus_description)/urdf/cepheus.xacro" name="robot_description"/>

	<node args="-param robot_description -urdf -model cepheus -x $(arg x_pos) -y $(arg y_pos) -Y $(arg yaw_pos) " name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<!-- Gazebo World -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find cepheus_gazebo)/worlds/no_roof_small_warehouse.world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>

	<arg name="rvizconfig" default="$(find cepheus_navigation)/rviz/cepheus_navigation.rviz"/>
	<node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>

	<node pkg="cepheus_slam" type="checkpoint_saver.py"
	name="checkpoint_saver"
	args="$(find cepheus_navigation)/config/checkpoints.yaml  $(find cepheus_navigation)/param/amcl_params.yaml"
	output="screen" />

	<node pkg="cepheus_navigation" type="update_initpose.py"
	name="update_initpose"
	args="$(find cepheus_navigation)/config/checkpoints.yaml"
	output="screen" />

</launch>
